### LAB - S03-L013-LAB Duplikaty w data frame
1. Zaimportuj moduł pandas oraz numpy i nadaj im standardowe aliasy. Do zmiennej surveys wczytaj zawartość pliku StackOverflowDeveloperSurvey2018.csv. Pobierz tylko następujące kolumny:
        'Country','Gender','OperatingSystem'. Skorzystaj z parametru low_memory=False. 
    Wyświetl nagłówektak utworzonego Data Frame.
2. Sprawdź czy kolumna Country zawiera wartości unikalne
3. Wyznacz wszystkie kraje, z jakich pochodzą uczestnicy ankiety. (Wystarczy jak wyświetlisz pierwszychkilka)
4. Policz ile tych krajów jest (raz pomijając wartość NaN a raz uwzględniając ją)
5. Utwórz serię wartości True/False duplicatesKeepFirst zawierającą informacje o tym czy wystąpienie kraju w surveys jest pierwsze czy kolejne.
6. Wyświetl pierwszych kilka ankiet, które pochodzą z różnych krajów (skorzystaj z duplicatedKeepFirst) 
7. Ile krajów zostanie zwróconych w poprzednim punkcie? Nim uruchomisz odpowiednie polecenie, spróbuj przewidzieć tą wartość.
8. Usuń powtarzające się wiersze ze względu na wartości w kolumnach 'Country', 'OperatingSystem'
9. Wyświetl pozostałe w dataframe surveys wiersze dotyczące Twojego kraju

In [1]:
import pandas as pd
import numpy as np

In [2]:
surveys = pd.read_csv('./course-files/StackOverflowDeveloperSurvey2018.csv', 
                      usecols=['Country','Gender','OperatingSystem'], low_memory=False)

In [3]:
surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [4]:
surveys.shape

(98855, 3)

In [6]:
surveys['Country'].is_unique

False

In [9]:
surveys['Country'].unique()[:20]

array(['Kenya', 'United Kingdom', 'United States', 'South Africa',
       'Nigeria', 'India', 'Spain', 'Croatia', 'Netherlands', 'Israel',
       'Sweden', 'Chile', 'Australia', 'Greece', 'Poland', 'Belgium',
       'Argentina', 'Germany', 'Russian Federation', 'Indonesia'],
      dtype=object)

In [10]:
len(surveys['Country'].unique())

184

In [11]:
surveys['Country'].nunique()

183

In [12]:
duplicatesKeepFirst = surveys.duplicated(subset='Country')

In [13]:
duplicatesKeepFirst.head()

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [14]:
surveys[~duplicatesKeepFirst].head()

          Country OperatingSystem  Gender
0           Kenya     Linux-based    Male
1  United Kingdom     Linux-based    Male
2   United States             NaN     NaN
4    South Africa         Windows    Male
7         Nigeria         Windows  Female

In [15]:
len(surveys[~duplicatesKeepFirst])

184

In [18]:
surveys.drop_duplicates(subset=['Country', 'OperatingSystem'], inplace=True)

In [19]:
surveys.query('Country == "Poland"')

      Country OperatingSystem Gender
30     Poland     Linux-based   Male
34     Poland         Windows   Male
232    Poland             NaN    NaN
854    Poland           MacOS   Male
72587  Poland        BSD/Unix    NaN

In [22]:
isPoland = surveys.where(surveys['Country'] == "Poland")

In [27]:
isPoland.dropna(subset='Country')

      Country OperatingSystem Gender
30     Poland     Linux-based   Male
34     Poland         Windows   Male
232    Poland             NaN    NaN
854    Poland           MacOS   Male
72587  Poland        BSD/Unix    NaN