### LAB - S07-L006 - left & right merge
1. Zaimportuj moduł pandas i numpy nadaj im standardowe aliasy
2. Do zmiennej suppliers zaimportuj zawartość pliku suppliers.csv. Pobierz tylko kolumny SupplierID, CompanyName, City
3. Do zmiennej products zaimportuj zawartość pliku products_del_2.csv". Pobierz tylko kolumny **ProductID, ProductName, SupplierID**
4. Należy odnaleźć tych dostawców z suppliers, którzy nie dostarczają żadnych produktów.
    W tym celu wykonuj kolejne kroki
5. W zmiennej sup_prod zapisz wynik zwykłego złaczenia suppliers i products w oparciu o kolumnę SupplierID. Skorzystaj z parametru indicator.
6. Wyświetl liczbę elementów w suppliers, products i sup_prod. Powinieneś uzyskać wyniki: 29/68/68
7. W zmiennej sup_prod_left zapisz wynik złączenia typu left z suppliers do products w oparciu o kolumnę SupplierID. Skorzystaj z prarametru indicator
8. Wyświetl liczbę elementów w suppliers, products i sup_prod_left. Powinieneś uzyskać wyniki: 29/68/70. Oznacza to, że "idąc od suppliers do products", dla 2 dostawców nie udało się znaleźć żadnych produktów, które byłyby przez nich dostarczane.
9. Wyświetl te wiersze z sup_prod_left, które w kolumnie "merged posiadają wartość left_only
10. Jeżeli chcesz tak przekształć operacje 7-9, aby to samo zadanie zrealizować korzystając z right merge

In [1]:
import pandas as pd
import numpy as np

In [2]:
suppliers = pd.read_csv('./course-files/northwind-mongo-master/suppliers.csv', 
                        usecols=['SupplierID', 'CompanyName', 'City'])

In [3]:
products = pd.read_csv('./course-files/northwind-mongo-master/products_del_2.csv', 
                        usecols=['ProductID', 'ProductName', 'SupplierID'])

In [4]:
sup_prod = suppliers.merge(products, on='SupplierID', indicator=True)

In [5]:
print(len(suppliers))
print(len(products))
print(len(sup_prod))

29
68
68

In [6]:
sup_prod_left = suppliers.merge(products, how='left', on='SupplierID', indicator=True,)

In [7]:
print(len(suppliers))
print(len(products))
print(len(sup_prod_left))

29
68
70

In [12]:
filter = sup_prod_left['_merge'] == 'left_only'

In [13]:
sup_prod_left[filter]

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
67,27,Escargots Nouveaux,Montceau,NaN,NaN,left_only

In [11]:
sup_prod_left['_merge'].value_counts()

both          68
left_only      2
right_only     0
Name: _merge, dtype: int64

In [14]:
sup_prod_right = products.merge(suppliers, how='right', on='SupplierID', indicator=True)

In [15]:
sup_prod_right['_merge'].value_counts()

both          68
right_only     2
left_only      0
Name: _merge, dtype: int64

In [16]:
filter_right = sup_prod_right['_merge'] == 'right_only'

In [17]:
sup_prod_right[filter_right]

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
2,NaN,NaN,2,New Orleans Cajun Delights,New Orleans,right_only
67,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only