### LAB - S02-L010 - Sortowanie danych dataseries
1. Zaimportuj moduły: pandas, numpy, matplotlib (tylko pyplot), math i nadaj im standardowealiasy
2. Z pliku StackOverflowDeveloperSurvey.csv wczytaj kolumnę Salary jako Data Series izapisz ją w zmiennej salary. Wczytując elementy pomiń te ankiety, w których respondencinie podali kwoty wynagrodzenia (użyj dropna()). Wyświetl 5 pierwszych elementów serii
3. Posortuj dane wg wynagrodzenia malejąco (wyświetl tylko 5 pierwszych pozycji).
4. Posortuj dane wg wynagrodzenia rosnąco (wyświetl tylko 5 pierwszych pozycji).
5. Zmień parametry sortowania tak, aby lista została posortowana wewnętrznie na stałe wgwynagrodzenia malejąco. Wyświetl kilka początkowych elementów, aby przekonać się żeobiekt jest teraz posortowany jak należy.
6. Posortuj dane wg indeksu malejąco
7. Zapisz w zmiennej maxSalaries 100 największych wynagrodzeń z serii Salary
8. Zapisz w zmiennej minSalaries 100 najniższych wynagrodzeń z serii Salary
9. Wyznacz średnią wartość z wynagrodzeń znajdujących się w serii maxSalaries
10. Wyznacz średnią wartiść z wynagrodzeń znajdujących się w serii minSalaries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
salary = pd.read_csv(r'D:\Udemy\PYTHON_scripts\course-files\StackOverflowDeveloperSurvey.csv', usecols=['Salary']).squeeze().dropna()

In [3]:
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [5]:
salary.sort_values(ascending=False).head()

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
Name: Salary, dtype: float64

In [6]:
salary.sort_values().head()

51144    0.0
23953    0.0
23907    0.0
44841    0.0
2951     0.0
Name: Salary, dtype: float64

In [8]:
salary.sort_values(ascending=False,inplace=True)

In [9]:
salary.head()

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
Name: Salary, dtype: float64

In [10]:
salary.sort_index(ascending=False).head(10)

51390     40000.000000
51387     58000.000000
51382     32258.064516
51378    107526.881720
51371     74193.548387
51361       440.463955
51360     59808.612440
51356     15483.870968
51355     33750.000000
51343      4228.453972
Name: Salary, dtype: float64

In [11]:
maxSalaries = salary.sort_values(ascending=False).head(100)

In [12]:
minSalaries = salary.sort_values().head(100)

In [13]:
maxSalaries.mean()

180198.1045586777

In [14]:
minSalaries.mean()

67.08388907133795