### LAB - S02-L016 - Więcej funkcji Data Series
1. Zaimportuj moduł pandas i nadaj mu standardowy alias.
2. Do zmiennej programmers wczytaj serię danych z pliku *StackOverflowDeveloperSurvey2018.csv.* Wczytując dane użyj arguemtu *low_memory=False, usecols='ConvertedSalary i squeeze=True.*
3. Wylicz średnią, medianę i odchylenie standardowe. Co można powiedzieć o tych danych?
4. Wylicz maksymalną wartość **Salary.**
5. Do zmiennej **fortune500** wczytaj dane z pliku *Fortune_500_2017.csv.* Wczytaj kolumny **Title i Employees**. Kolumna Title powinna stać się indeksem. Wyświetl nagłówek otrzymanej serii danych.
6. Wyświetl jaki jest indeks dla pozycji z największą liczbą pracowników. W ten sposób znajdziesz na liście **Fortune** firmę zatrudniającą najwięcej pracowników.
7. A ile pracowników zatrudnia ta firma. Skorzystaj z wartości wyliczonej w poprzednim punkcie
8. Wyświetl jaki jest indeks dla pozycji z najmniejszą liczbą pracowników. W ten sposób znajdziesz na liście **Fortune** firmę zatrudniającą najmniej pracowników
9. A ile pracowników zatrudnia ta firma. Skorzystaj z wartości wyliczonej w poprzednim punkcie

In [1]:
import pandas as pd

In [7]:
programmers = pd.read_csv(r'D:\Udemy\PYTHON_scripts\course-files\StackOverflowDeveloperSurvey2018.csv',low_memory=False, usecols=['ConvertedSalary']).squeeze().dropna()

In [8]:
programmers.head()

1     70841.0
4     21426.0
5     41671.0
6    120000.0
8    250000.0
Name: ConvertedSalary, dtype: float64

In [9]:
programmers.mean()

95780.86178776571

In [10]:
programmers.median()

55075.0

In [11]:
programmers.std()

202348.21562528735

In [12]:
max(programmers)

2000000.0

In [13]:
programmers.max()

2000000.0

In [17]:
fortune500 = pd.read_csv(r'D:\Udemy\PYTHON_scripts\course-files\Fortune_500_2017.csv', usecols=['Title','Employees'], index_col='Title')

In [18]:
fortune500.head()

                    Employees
Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000

In [20]:
fortune500.idxmax()

Employees    Walmart
dtype: object

In [23]:
fortune500.loc[fortune500.idxmax()]

         Employees
Title
Walmart    2300000

In [24]:
fortune500.idxmin()

Employees    A-Mark Precious Metals
dtype: object

In [25]:
fortune500.loc[fortune500.idxmin()]

                        Employees
Title
A-Mark Precious Metals         83