### LAB - S07-L008 - merge wielu obiektów data frame
1. Zaimportuj moduł pandas i numpy nadaj im standardowe aliasy
2. Do zmiennej suppliers zaimportuj zawartość pliku suppliers.csv. Pobierz tylko kolumny SupplierID, CompanyName, City
3. Do zmiennej products zaimportuj zawartość pliku products.csv. Pobierz tylko kolumny ProductID, ProductName, SupplierID, CategoryID
4. Do zmiennej categories zaimportuj zawartość pliku categories1.csv. Pobierz tylko kolumny CategoryID i CategoryName. Kolumna CategoryID ma być indeksem.
5. Połącz products i categories korzystając z CategoryID. Wynik zapisz w nowej zmiennej prod_cat
6. Połącz prod_cat z suppliers korzytając z SupplierID. Wynik zapisz w nowej zmiennej prod_cat_sup
7. Wykonaj złączenia opisane w krokach (5) i (6), ale bez stosowania pomocniczych zmiennych

In [1]:
import pandas as pd
import numpy as np

In [2]:
suppliers = pd.read_csv('./course-files/northwind-mongo-master/suppliers.csv', 
                        usecols=['SupplierID', 'CompanyName', 'City'])

In [3]:
products = pd.read_csv('./course-files/northwind-mongo-master/products.csv', 
                        usecols=['ProductID', 'ProductName', 'SupplierID', 'CategoryID'])

In [4]:
categories = pd.read_csv('./course-files/northwind-mongo-master/categories1.csv', 
                        usecols=['CategoryID', 'CategoryName'] , index_col='CategoryID')

In [5]:
prod_cat = products.merge(categories, left_on='CategoryID', right_index=True)

In [6]:
prod_cat.head(3)

    ProductID         ProductName  SupplierID  CategoryID CategoryName
0           1                Chai           1           1    Beverages
1           2               Chang           1           1    Beverages
23         24  Guaraná Fantástica          10           1    Beverages

In [7]:
prod_cat_sup = prod_cat.merge(suppliers, on='SupplierID')

In [8]:
prod_cat_sup.head(3)

,ProductID,ProductName,SupplierID,CategoryID,CategoryName,CompanyName,City
0,1,Chai,1,1,Beverages,Exotic Liquids,London
1,2,Chang,1,1,Beverages,Exotic Liquids,London
2,3,Aniseed Syrup,1,2,Condiments,Exotic Liquids,London

In [9]:
products.merge(categories, left_on='CategoryID', right_index=True).merge(suppliers, on='SupplierID').head(3)

,ProductID,ProductName,SupplierID,CategoryID,CategoryName,CompanyName,City
0,1,Chai,1,1,Beverages,Exotic Liquids,London
1,2,Chang,1,1,Beverages,Exotic Liquids,London
2,3,Aniseed Syrup,1,2,Condiments,Exotic Liquids,London