### LAB - S07-L007 - opcje polecenia merge
1. Zaimportuj moduł pandas i numpy nadaj im standardowe aliasy
2. Do zmiennej suppliers zaimportuj zawartość pliku suppliers.csv. Pobierz tylko kolumny SupplierID,CompanyName, City
3. Do zmiennej products zaimportuj zawartość pliku products.csv". Pobierz tylko kolumny ProductID, ProductName, SupplierID
4. W kolejnych zadaniach będziesz łączyć ze sobą suppliers i products, a do połączenia wykorzystasz kolumnę SupplierID. Kolumna ta może delikatnie zmienić nazwę lub stać się indeksem. W zależności od tego musisz w odpowiedni sposób zmieniać parametry i wybierać odpowiednie polecenia:
5. Do data frame suppliers dołącz dane z products (tak jak to opisano powyżej) 
6. W suppliers zdefiniuj SupplierID jako indeks (pamiętaj o parametrze inplace). Następnie do data frame suppliers dołącz dane z products
7. W products zdefiniuj SupplierID jako indeks (pamiętaj o parametrze inplace). Następnie do data frame suppliers dołącz dane z products
8. W suppliers zresetuj indeks (pamiętaj o parametrze inplace). Następnie do data frame suppliers dołącz dane z products
9. W products zresetuj indeks (pamiętaj o parametrze inplace), a potem zmień nazwę kolumny SupplierID na supplier_id. Następnie do data frame suppliers dołącz dane z products

In [1]:
import pandas as pd
import numpy as np

In [2]:
suppliers = pd.read_csv('./course-files/northwind-mongo-master/suppliers.csv', 
                        usecols=['SupplierID', 'CompanyName', 'City'])

In [3]:
products = pd.read_csv('./course-files/northwind-mongo-master/products_del_2.csv', 
                        usecols=['ProductID', 'ProductName', 'SupplierID'])

In [4]:
products.merge(right=suppliers, on='SupplierID')

,ProductID,ProductName,SupplierID,CompanyName,City
0,1,Chai,1,Exotic Liquids,London
1,2,Chang,1,Exotic Liquids,London
2,6,Grandma's Boysenberry Spread,3,Grandma Kelly's Homestead,Ann Arbor
3,7,Uncle Bob's Organic Dried Pears,3,Grandma Kelly's Homestead,Ann Arbor
4,8,Northwoods Cranberry Sauce,3,Grandma Kelly's Homestead,Ann Arbor
...,...,...,...,...,...
63,55,Pâté chinois,25,Ma Maison,Montréal
64,56,Gnocchi di nonna Alice,26,Pasta Buttini s.r.l.,Salerno
65,57,Ravioli Angelo,26,Pasta Buttini s.r.l.,Salerno
66,60,Camembert Pierrot,28,Gai pâturage,Annecy
67,61,Sirop d'érable,29,Forêts d'érables,Ste-Hyacinthe

In [5]:
suppliers.merge(right=products, on='SupplierID').head()

,SupplierID,CompanyName,City,ProductID,ProductName
0,1,Exotic Liquids,London,1,Chai
1,1,Exotic Liquids,London,2,Chang
2,3,Grandma Kelly's Homestead,Ann Arbor,6,Grandma's Boysenberry Spread
3,3,Grandma Kelly's Homestead,Ann Arbor,7,Uncle Bob's Organic Dried Pears
4,3,Grandma Kelly's Homestead,Ann Arbor,8,Northwoods Cranberry Sauce

In [6]:
suppliers.set_index('SupplierID', inplace=True)

In [7]:
suppliers.merge(right=products, left_index=True, right_on='SupplierID')

,CompanyName,City,ProductID,ProductName,SupplierID
0,Exotic Liquids,London,1,Chai,1
1,Exotic Liquids,London,2,Chang,1
2,Grandma Kelly's Homestead,Ann Arbor,6,Grandma's Boysenberry Spread,3
3,Grandma Kelly's Homestead,Ann Arbor,7,Uncle Bob's Organic Dried Pears,3
4,Grandma Kelly's Homestead,Ann Arbor,8,Northwoods Cranberry Sauce,3
...,...,...,...,...,...
51,Ma Maison,Montréal,55,Pâté chinois,25
52,Pasta Buttini s.r.l.,Salerno,56,Gnocchi di nonna Alice,26
53,Pasta Buttini s.r.l.,Salerno,57,Ravioli Angelo,26
54,Gai pâturage,Annecy,60,Camembert Pierrot,28
55,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable,29

In [8]:
products.set_index('SupplierID', inplace=True)

In [9]:
suppliers.merge(right=products, left_index=True, right_index=True)

,CompanyName,City,ProductID,ProductName
SupplierID,,,,
1,Exotic Liquids,London,1,Chai
1,Exotic Liquids,London,2,Chang
3,Grandma Kelly's Homestead,Ann Arbor,6,Grandma's Boysenberry Spread
3,Grandma Kelly's Homestead,Ann Arbor,7,Uncle Bob's Organic Dried Pears
3,Grandma Kelly's Homestead,Ann Arbor,8,Northwoods Cranberry Sauce
...,...,...,...,...
25,Ma Maison,Montréal,55,Pâté chinois
26,Pasta Buttini s.r.l.,Salerno,56,Gnocchi di nonna Alice
26,Pasta Buttini s.r.l.,Salerno,57,Ravioli Angelo
28,Gai pâturage,Annecy,60,Camembert Pierrot
29,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable

In [10]:
suppliers.join(products)

,CompanyName,City,ProductID,ProductName
SupplierID,,,,
1,Exotic Liquids,London,1.0,Chai
1,Exotic Liquids,London,2.0,Chang
2,New Orleans Cajun Delights,New Orleans,NaN,NaN
3,Grandma Kelly's Homestead,Ann Arbor,6.0,Grandma's Boysenberry Spread
3,Grandma Kelly's Homestead,Ann Arbor,7.0,Uncle Bob's Organic Dried Pears
...,...,...,...,...
26,Pasta Buttini s.r.l.,Salerno,56.0,Gnocchi di nonna Alice
26,Pasta Buttini s.r.l.,Salerno,57.0,Ravioli Angelo
27,Escargots Nouveaux,Montceau,NaN,NaN
28,Gai pâturage,Annecy,60.0,Camembert Pierrot
29,Forêts d'érables,Ste-Hyacinthe,61.0,Sirop d'érable

In [11]:
suppliers.reset_index()

    SupplierID                             CompanyName           City
0            1                          Exotic Liquids         London
1            2              New Orleans Cajun Delights    New Orleans
2            3               Grandma Kelly's Homestead      Ann Arbor
3            4                           Tokyo Traders          Tokyo
4            5      Cooperativa de Quesos 'Las Cabras'         Oviedo
5            6                                Mayumi's          Osaka
6            7                            Pavlova Ltd.      Melbourne
7            8                 Specialty Biscuits Ltd.     Manchester
8            9                        PB Knäckebröd AB       Göteborg
9           10               Refrescos Americanas LTDA      Sao Paulo
10          11             Heli Süßwaren GmbH & Co. KG         Berlin
11          12       Plutzer Lebensmittelgroßmärkte AG      Frankfurt
12          13  Nord-Ost-Fisch Handelsgesellschaft mbH       Cuxhaven
13          14                 Formaggi Fortini s.r.l.     75 Ravenna
14          15                         Norske Meierier       Sandvika
15          16                       Bigfoot Breweries           Bend
16          17                       Svensk Sjöföda AB      Stockholm
17          18              Aux joyeux ecclésiastiques          Paris
18          19             New England Seafood Cannery         Boston
19          20                            Leka Trading      Singapore
20          21                              Lyngbysild         Lyngby
21          22                     Zaanse Snoepfabriek        Zaandam
22          23                               Karkki Oy   Lappeenranta
23          24                              G'day Mate         Sydney
24          25                               Ma Maison       Montréal
25          26                    Pasta Buttini s.r.l.        Salerno
26          27                      Escargots Nouveaux       Montceau
27          28                            Gai pâturage         Annecy
28          29                        Forêts d'érables  Ste-Hyacinthe

In [12]:
suppliers.head()

                                   CompanyName         City
SupplierID
1                               Exotic Liquids       London
2                   New Orleans Cajun Delights  New Orleans
3                    Grandma Kelly's Homestead    Ann Arbor
4                                Tokyo Traders        Tokyo
5           Cooperativa de Quesos 'Las Cabras'       Oviedo

In [13]:
suppliers.reset_index(inplace=True)

In [14]:
suppliers.head(3)

   SupplierID                 CompanyName         City
0           1              Exotic Liquids       London
1           2  New Orleans Cajun Delights  New Orleans
2           3   Grandma Kelly's Homestead    Ann Arbor

In [15]:
products.head(3)

            ProductID                   ProductName
SupplierID
1                   1                          Chai
1                   2                         Chang
3                   6  Grandma's Boysenberry Spread

In [16]:
suppliers.merge(right=products, left_on='SupplierID', right_index=True)

,SupplierID,CompanyName,City,ProductID,ProductName
0,1,Exotic Liquids,London,1,Chai
0,1,Exotic Liquids,London,2,Chang
2,3,Grandma Kelly's Homestead,Ann Arbor,6,Grandma's Boysenberry Spread
2,3,Grandma Kelly's Homestead,Ann Arbor,7,Uncle Bob's Organic Dried Pears
2,3,Grandma Kelly's Homestead,Ann Arbor,8,Northwoods Cranberry Sauce
...,...,...,...,...,...
24,25,Ma Maison,Montréal,55,Pâté chinois
25,26,Pasta Buttini s.r.l.,Salerno,56,Gnocchi di nonna Alice
25,26,Pasta Buttini s.r.l.,Salerno,57,Ravioli Angelo
27,28,Gai pâturage,Annecy,60,Camembert Pierrot
28,29,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable

In [18]:
products.reset_index(inplace=True)

In [20]:
products.rename({'SupplierID' : 'supplier_id' }, inplace=True, axis='columns')

In [21]:
products.head(3)

   supplier_id  ProductID                   ProductName
0            1          1                          Chai
1            1          2                         Chang
2            3          6  Grandma's Boysenberry Spread

In [23]:
suppliers.merge(right=products, left_on='SupplierID', right_on='supplier_id').head()

,SupplierID,CompanyName,City,supplier_id,ProductID,ProductName
0,1,Exotic Liquids,London,1,1,Chai
1,1,Exotic Liquids,London,1,2,Chang
2,3,Grandma Kelly's Homestead,Ann Arbor,3,6,Grandma's Boysenberry Spread
3,3,Grandma Kelly's Homestead,Ann Arbor,3,7,Uncle Bob's Organic Dried Pears
4,3,Grandma Kelly's Homestead,Ann Arbor,3,8,Northwoods Cranberry Sauce