In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
frame = pd.read_csv('./course-files/Mcdonalds.csv')

In [3]:
series = pd.read_csv('./course-files/Mcdonalds.csv', usecols=['Item', 'Calories'], index_col="Item").squeeze()

In [4]:
series

Item
Egg McMuffin                                         300
Egg White Delight                                    250
Sausage McMuffin                                     370
Sausage McMuffin with Egg                            450
Sausage McMuffin with Egg Whites                     400
                                                    ...
McFlurry with Oreo Cookies (Small)                   510
McFlurry with Oreo Cookies (Medium)                  690
McFlurry with Oreo Cookies (Snack)                   340
McFlurry with Reese's Peanut Butter Cups (Medium)    810
McFlurry with Reese's Peanut Butter Cups (Snack)     410
Name: Calories, Length: 260, dtype: int64

In [5]:
type(frame)

pandas.core.frame.DataFrame

In [6]:
type(series)

pandas.core.series.Series

In [7]:
type(frame.Calories)

pandas.core.series.Series

In [8]:
frame.Calories.mean()

368.2692307692308

In [9]:
frame.Calories.median()

340.0

In [10]:
frame.Calories.max()

1880

In [11]:
frame.Calories.idxmax()

82

In [12]:
frame.Item[82]

'Chicken McNuggets (40 piece)'

In [13]:
frame.Item[frame.Calories.idxmax()]

'Chicken McNuggets (40 piece)'

In [14]:
frame['Calories'].head()

0    300
1    250
2    370
3    450
4    400
Name: Calories, dtype: int64

In [15]:
s = frame['Item']

In [16]:
type(s)

pandas.core.series.Series

In [17]:
s[242]

'Vanilla Shake (Medium)'

In [18]:
s.loc[242]

'Vanilla Shake (Medium)'

In [19]:
frame['Item'][242]

'Vanilla Shake (Medium)'

In [20]:
frame.loc[242]

Category                             Smoothies & Shakes
Item                             Vanilla Shake (Medium)
Serving Size                               16 fl oz cup
Calories                                            660
Calories from Fat                                   170
TotalFat                                           19.0
Total Fat (% Daily Value)                            29
Saturated Fat                                      12.0
Saturated Fat (% Daily Value)                        61
Trans Fat                                           1.0
Cholesterol                                          75
Cholesterol (% Daily Value)                          24
Sodium                                              200
Sodium (% Daily Value)                                9
Carbohydrates                                       109
Carbohydrates (% Daily Value)                        36
Dietary Fiber                                         0
Dietary Fiber (% Daily Value)                         0
Sugars                                               81
Protein                                              14
Vitamin A (% Daily Value)                            25
Vitamin C (% Daily Value)                             0
Calcium (% Daily Value)                              50
Iron (% Daily Value)                                  0
Name: 242, dtype: object

In [21]:
type(frame.loc[242])

pandas.core.series.Series

In [22]:
frame.loc[242].loc["Item"]

'Vanilla Shake (Medium)'

In [25]:
frame.loc[242,'Item']

'Vanilla Shake (Medium)'

In [24]:
frame[['Item',"Calories","TotalFat","Sugars"]].head()

                               Item  Calories  TotalFat  Sugars
0                      Egg McMuffin       300      13.0       3
1                 Egg White Delight       250       8.0       3
2                  Sausage McMuffin       370      23.0       2
3         Sausage McMuffin with Egg       450      28.0       2
4  Sausage McMuffin with Egg Whites       400      23.0       2

In [26]:
frame.axes

[RangeIndex(start=0, stop=260, step=1),
 Index(['Category', 'Item', 'Serving Size', 'Calories', 'Calories from Fat',
        'TotalFat', 'Total Fat (% Daily Value)', 'Saturated Fat',
        'Saturated Fat (% Daily Value)', 'Trans Fat', 'Cholesterol',
        'Cholesterol (% Daily Value)', 'Sodium', 'Sodium (% Daily Value)',
        'Carbohydrates', 'Carbohydrates (% Daily Value)', 'Dietary Fiber',
        'Dietary Fiber (% Daily Value)', 'Sugars', 'Protein',
        'Vitamin A (% Daily Value)', 'Vitamin C (% Daily Value)',
        'Calcium (% Daily Value)', 'Iron (% Daily Value)'],
       dtype='object')]

# S03-L003 Data Frame movie

In [27]:
frame = pd.read_csv('./course-files/Mcdonalds.csv', usecols=["Item",'Category','Calories','TotalFat','Sugars','Protein','Cholesterol'])

In [28]:
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein
0,Breakfast,Egg McMuffin,300,13.0,260,3,17
1,Breakfast,Egg White Delight,250,8.0,25,3,18
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21

In [29]:
frame.TotalFat.head()

0    13.0
1     8.0
2    23.0
3    28.0
4    23.0
Name: TotalFat, dtype: float64

In [30]:
frame['FatAndSugars'] = frame.TotalFat + frame.Sugars

In [31]:
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,FatAndSugars
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,16.0
1,Breakfast,Egg White Delight,250,8.0,25,3,18,11.0
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,25.0
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,30.0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,25.0

In [32]:
frame.insert(loc=2, column='SPF', value=frame.Sugars+frame.Protein+frame.TotalFat)

In [33]:
frame.head()

,Category,Item,SPF,Calories,TotalFat,Cholesterol,Sugars,Protein,FatAndSugars
0,Breakfast,Egg McMuffin,33.0,300,13.0,260,3,17,16.0
1,Breakfast,Egg White Delight,29.0,250,8.0,25,3,18,11.0
2,Breakfast,Sausage McMuffin,39.0,370,23.0,45,2,14,25.0
3,Breakfast,Sausage McMuffin with Egg,51.0,450,28.0,285,2,21,30.0
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,400,23.0,50,2,21,25.0

In [35]:
del frame['FatAndSugars']

In [36]:
frame.head()

,Category,Item,SPF,Calories,TotalFat,Cholesterol,Sugars,Protein
0,Breakfast,Egg McMuffin,33.0,300,13.0,260,3,17
1,Breakfast,Egg White Delight,29.0,250,8.0,25,3,18
2,Breakfast,Sausage McMuffin,39.0,370,23.0,45,2,14
3,Breakfast,Sausage McMuffin with Egg,51.0,450,28.0,285,2,21
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,400,23.0,50,2,21

In [37]:
frame = frame.drop(columns=['SPF'])

In [38]:
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein
0,Breakfast,Egg McMuffin,300,13.0,260,3,17
1,Breakfast,Egg White Delight,250,8.0,25,3,18
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21